$color-background-light: #f8ebd9;
$color-background-dark: #1d1842;

@font-face {
  font-family: "Golos-UI";
  src: url("./fonts/Golos-UI/Golos-UI_VF.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded/Unbounded-VF.ttf");
  font-weight: 800;
  font-style: normal;
}

// @keyframes text-clip {
//   from {
//     clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
//   }
//   to {
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//   }
// } 

// $color-light: #f9ebd7;

html, 
body {
  margin: 0;
  background-color: $color-background-light;
  scroll-snap-type: y mandatory;
  // overflow:  hidden;
  // overflow-y: scroll;
  // font-size: 10px;
}

::-webkit-scrollbar {
  width: 0;
}

.section_listPeople {
  height: 100vh;
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section-entrants,
.section-judge {
  display: flex;
  flex-direction: row;
}

.section-entrants {
  background-color: #B7C6E6;
}

.section-judge {
  position: relative;
  background-color: #4B4F87;
}

.section_listPeople__title{
  height: 100%;
  margin: auto 5px;
  padding: 0 15px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: "Unbounded";
  font-size: 2.7vw;
  color: #F4F2EF;
}

.section_listPeople__title-left {
  border-right: 7px dashed #CA8675;
}

.section_listPeople__title-right {
  border-left: 7px dashed #CA8675;
}

.section-separator {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: absolute;
  left: -40px;
}

.section-separator_img {
  width: 80px;
}

.list__entrants,
.list__judge {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list__entrants {
  padding: 20px 20px 10px 10px;
  flex-grow: 2;
}

.list__judge {
  position: relative;
  padding: 20px 10px 10px 20px;
  flex-grow: 1;
}
 
// .img-mirror {
//   position: absolute;
//   height: 100%;
//   top:0;
//   left: 0;
//   transform: translateX(-50%);
// }

.card-entrants,
.card-judge {
  // width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 5px;
  font-family: "Golos-UI";
  // font-size: 0.8vw;
  font-size: 1vw;
  text-transform: uppercase;
  border-radius: 10px;
}

.card-entrants {
  flex-basis: calc(100% / 5);
  // width: calc(100% / 5);
  background-color: #4B4F87;
  color: #F4F2EF;
}

.card-judge {
  width: calc(100% / 3);
  background-color: #F4F2EF;
  color: #4B4F87;
}

.card_empty {
  background-color: transparent;
}

.card__text {
  margin: 0;
}

.card-entrants:hover,
.card-judge:hover {
  cursor: pointer;
}

.card-entrants.delete,
.card-judge.delete {
  background-color: #646464;
  color: #414141;
}


//группы

.section_groups {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section_groups__img {
  width: 100%;
}

.wrapper-section {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.section_entrants {
  width: 60vw;
  padding: 5vh;
  display: flex;
  justify-content: center;
  background-color: #B7C6E6;
}

.section_judge {
  width: 40vw;
  padding: 5vh;
  position: relative;
  background-color: #4B4F87;
  display: flex;
  flex-direction: column;
}

.div-border {
  position: absolute;
  top: -2vh;
  width: 100vw;
  border-top: 7px dashed #CA8675;
  // background-color: #8A2E3B;
  transform:rotate(-2deg);
}

.title-2 {
  // width: 100vw;
  margin: 0;
  padding: 5vh 0;
  text-transform: uppercase;
  font-family: "Unbounded";
  font-size: 4.5vw;
  text-align: center;
  color: #F4F2EF;
  background-color: #1F3B6E;
}

.title-3 {
  // width: 400px;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1F3B6E;
  text-transform: uppercase;
  font-family: "Unbounded";
  font-size: 1.5vw;
  color: #F4F2EF;
}

.title-4 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Unbounded";
  font-size: 3.5vw;
  color: #F4F2EF;
}

.section-separator_groups {
  transform: translateY(-5vh);
  justify-content: space-around;
}

.wrapper_subgroup-1,
.wrapper_subgroup-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-grow: 1;
}

.wrapper_subgroup-1 {
  padding: 0 40px 20px 0;
  border-bottom: 7px dashed #CA8675;
  border-right: 7px dashed #CA8675;
}

.wrapper_subgroup-2 {
  padding: 20px 0 0 40px;
  border-top: 7px dashed #CA8675;
}

.wrapper-judge {
  padding-top: 30px;
  // padding: 30px 30px 0px;
  // padding-left: 40px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 40px;
  align-content: flex-start;
  justify-content: space-between;
}

.section__judge-name {
  align-self: center;
  object-fit: contain;
}

.card-entrant {
  // width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4B4F87;
  color: #F4F2EF;
  font-family: "Golos-UI";
  font-size: 1.1vw;
  text-transform: uppercase;
}

.card-entrant p {
  // transform: scaleY(1.1);
}

.section_groups .card-judge {
  width: 30%;
  max-width: 300px;
  flex-grow: 1;
  background-color: #F4F2EF;
  color: #4B4F87;
  font-family: "Golos-UI";
  font-size: 1.2vw;
  text-transform: uppercase;
  text-align: center;
}

.section_groups .card__closed {
  color: transparent;
}

.card {
  cursor: pointer;
}

.card-text {
  margin: 0;
  padding: 10px 0;
}

.wrapper_subgroup-1 .card__closed {
  background: linear-gradient(20deg, #0E1E3A 28px, #4B4F87 46%, #F7D3B5);
}

.wrapper_subgroup-2 .card__closed {
  background: linear-gradient(20deg, #0E1E3A 28px, #4B4F87 46%, #F7D3B5);
}

.wrapper-judge .card__closed {
  background: linear-gradient(20deg, #B7C6E6 20%, #F7D3B5);
}


// .wrapper_subgroup-1 .card__closed.card-1 {
//   background-image: url("./img/groups/subgroup/card__closed-1.png");
// }

// .wrapper_subgroup-1 .card__closed.card-2 {
//   background-image: url("./img/groups/subgroup/card__closed-2.png");
// }

// .wrapper_subgroup-1 .card__closed.card-3 {
//   background-image: url("./img/groups/subgroup/card__closed-3.png");
// }

// .wrapper_subgroup-1 .card__closed.card-4 {
//   background-image: url("./img/groups/subgroup/card__closed-4.png");
// }

// .wrapper_subgroup-1 .card__closed.card-5 {
//   background-image: url("./img/groups/subgroup/card__closed-5.png");
// }

// .wrapper_subgroup-2 .card__closed.card-1 {
//   background-image: url("./img/groups/subgroup/card__closed-6.png");
// }

// .wrapper_subgroup-2 .card__closed.card-2 {
//   background-image: url("./img/groups/subgroup/card__closed-7.png");
// }

// .wrapper_subgroup-2 .card__closed.card-3 {
//   background-image: url("./img/groups/subgroup/card__closed-8.png");
// }

// .wrapper_subgroup-2 .card__closed.card-4 {
//   background-image: url("./img/groups/subgroup/card__closed-9.png");
// }

// .wrapper_subgroup-2 .card__closed.card-5 {
//   background-image: url("./img/groups/subgroup/card__closed-10.png");
// }

// .wrapper-judge .card__closed.card-1 {
//   background-image: url("./img/groups/judge/card-closed-1.png");
// }

// .wrapper-judge .card__closed.card-2 {
//   background-image: url("./img/groups/judge/card-closed-2.png");
// }

// .wrapper-judge .card__closed.card-3 {
//   background-image: url("./img/groups/judge/card-closed-3.png");
// }

// .wrapper-judge .card__closed.card-4 {
//   background-image: url("./img/groups/judge/card-closed-4.png");
// }

// .wrapper-judge .card__closed.card-5 {
//   background-image: url("./img/groups/judge/card-closed-5.png");
// }

// .wrapper-judge .card__closed.card-6 {
//   background-image: url("./img/groups/judge/card-closed-6.png");
// }

// .wrapper-judge .card__closed.card-7 {
//   background-image: url("./img/groups/judge/card-closed-7.png");
// }

// .wrapper-judge .card__closed.card-8 {
//   background-image: url("./img/groups/judge/card-closed-8.png");
// }



.wrapper-loader {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.loader {
  width: 64px;
  height: 64px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  animation: rotate 1.5s ease-in infinite alternate;
}

.wrapper-loader.open {
  display: block;
}

.loader::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  color: #B7C6E6;
  background: currentColor;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
}

.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 10%;
  background: #F7D3B5;
  width: 8px;
  height: 64px;
  animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
  100% { transform: rotate(360deg)}
}