@font-face {
  font-family: "Benzin";
  src: url("./fonts/Benzin/Benzin-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Benzin-ExtraBold";
  src: url("./fonts/Benzin/Benzin-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./fonts/Inter/Inter-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  background-color: #f8ebd9;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0;
}

.section_listPeople {
  height: 100vh;
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section-entrants,
.section-judge {
  display: flex;
  flex-direction: row;
}

.section-entrants {
  background-color: #D4435E;
}

.section-judge {
  position: relative;
  background-color: #1A4B50;
}

.section_listPeople__title {
  height: 100%;
  margin: auto 5px;
  padding: 0 15px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: "Benzin-ExtraBold";
  font-size: 2.7vw;
  color: #FFF9F7;
}

.section_listPeople__title-left {
  border-right: 7px dashed #CA8675;
}

.section_listPeople__title-right {
  border-left: 7px dashed #CA8675;
}

.section-separator {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: absolute;
  left: -40px;
}

.section-separator_img {
  width: 80px;
}

.list__entrants,
.list__judge {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list__entrants {
  padding: 14px 60px 10px 10px;
  flex-grow: 2;
}

.list__judge {
  position: relative;
  padding: 14px 10px 10px 60px;
  flex-grow: 1;
}

.img-mirror {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}

.card-entrants,
.card-judge {
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 5px;
  font-family: "Inter";
  font-size: 0.8vw;
  font-weight: 900;
  text-transform: uppercase;
}

.card-entrants {
  background-color: #8A2E3B;
  color: #FFF9F7;
}

.card-judge {
  background-color: #FFF9F7;
  color: #8A2E3B;
}

.card__text {
  margin: 0;
}

.card-entrants:hover,
.card-judge:hover {
  cursor: pointer;
}

.card-entrants.delete,
.card-judge.delete {
  background-color: #646464;
  color: #414141;
}

.section_groups {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section_groups__img {
  width: 100%;
}

.wrapper-section {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.section_entrants {
  width: 60vw;
  padding: 5vh;
  display: flex;
  justify-content: center;
  background-color: #D4435E;
}

.section_judge {
  width: 40vw;
  padding: 5vh;
  position: relative;
  background-color: #1A4B50;
  display: flex;
  flex-direction: column;
}

.div-border {
  position: absolute;
  top: -2vh;
  width: 100vw;
  border-top: 7px dashed #CA8675;
  transform: rotate(-2deg);
}

.title-2 {
  margin: 0;
  padding: 5vh 0;
  text-transform: uppercase;
  font-family: "Benzin-ExtraBold";
  font-size: 4.5vw;
  text-align: center;
  color: #FFF9F7;
  background-color: #8A2E3B;
}

.title-3 {
  width: 400px;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59A8B3;
  text-transform: uppercase;
  font-family: "Benzin-ExtraBold";
  font-size: 1.5vw;
  color: #FFF9F7;
}

.title-4 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Benzin-ExtraBold";
  font-size: 3.5vw;
  color: #FFF9F7;
}

.section-separator_groups {
  transform: translateY(-5vh);
  justify-content: space-around;
}

.wrapper_subgroup-1,
.wrapper_subgroup-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper_subgroup-1 {
  padding: 0 40px 20px 0;
  border-bottom: 7px dashed #CA8675;
  border-right: 7px dashed #CA8675;
}

.wrapper_subgroup-2 {
  padding: 20px 0 0 40px;
  border-top: 7px dashed #CA8675;
}

.wrapper-judge {
  padding-top: 10px;
  padding-left: 40px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 20px;
  align-content: space-between;
}

.section__judge-name {
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-entrant {
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8A2E3B;
  color: #FFF9F7;
  font-family: "Inter";
  font-size: 0.9vw;
  font-weight: 900;
  text-transform: uppercase;
}

.card-entrant p {
  transform: scaleY(1.2);
}

.section_groups .card-judge {
  width: 30%;
  max-width: 300px;
  flex-grow: 1;
  background-color: #FFF9F7;
  color: #D4435E;
  font-family: "Inter";
  font-size: 1.2vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.section_groups .card__closed {
  color: transparent;
}

.card {
  cursor: pointer;
}

.card-text {
  margin: 0;
  padding: 10px 0;
}

.wrapper_subgroup-1 .card__closed.card-1 {
  background-image: url("./img/groups/subgroup/card__closed-1.png");
}

.wrapper_subgroup-1 .card__closed.card-2 {
  background-image: url("./img/groups/subgroup/card__closed-2.png");
}

.wrapper_subgroup-1 .card__closed.card-3 {
  background-image: url("./img/groups/subgroup/card__closed-3.png");
}

.wrapper_subgroup-1 .card__closed.card-4 {
  background-image: url("./img/groups/subgroup/card__closed-4.png");
}

.wrapper_subgroup-1 .card__closed.card-5 {
  background-image: url("./img/groups/subgroup/card__closed-5.png");
}

.wrapper_subgroup-2 .card__closed.card-1 {
  background-image: url("./img/groups/subgroup/card__closed-6.png");
}

.wrapper_subgroup-2 .card__closed.card-2 {
  background-image: url("./img/groups/subgroup/card__closed-7.png");
}

.wrapper_subgroup-2 .card__closed.card-3 {
  background-image: url("./img/groups/subgroup/card__closed-8.png");
}

.wrapper_subgroup-2 .card__closed.card-4 {
  background-image: url("./img/groups/subgroup/card__closed-9.png");
}

.wrapper_subgroup-2 .card__closed.card-5 {
  background-image: url("./img/groups/subgroup/card__closed-10.png");
}

.wrapper-judge .card__closed.card-1 {
  background-image: url("./img/groups/judge/card-closed-1.png");
}

.wrapper-judge .card__closed.card-2 {
  background-image: url("./img/groups/judge/card-closed-2.png");
}

.wrapper-judge .card__closed.card-3 {
  background-image: url("./img/groups/judge/card-closed-3.png");
}

.wrapper-judge .card__closed.card-4 {
  background-image: url("./img/groups/judge/card-closed-4.png");
}

.wrapper-judge .card__closed.card-5 {
  background-image: url("./img/groups/judge/card-closed-5.png");
}

.wrapper-judge .card__closed.card-6 {
  background-image: url("./img/groups/judge/card-closed-6.png");
}

.wrapper-judge .card__closed.card-7 {
  background-image: url("./img/groups/judge/card-closed-7.png");
}

.wrapper-judge .card__closed.card-8 {
  background-image: url("./img/groups/judge/card-closed-8.png");
}

.wrapper-loader {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader {
  width: 64px;
  height: 64px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: rotate 1.5s ease-in infinite alternate;
}

.wrapper-loader.open {
  display: block;
}

.loader::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  color: #D4435E;
  background: currentColor;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  background: #59A8B3;
  width: 8px;
  height: 64px;
  animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */